body {
  background: #F0F0E8;
  color: #304141;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: Inter;
  max-width: 1800px;
  margin: auto;
  border: 1px solid #304141;
}

a {
  color: #304141;
}
